body {
  width: 1920px;
  height: 1080px;
  background-color: #fff;
}

body #screen {
  width: 1920px;
  height: 1080px;
  background: #172eaa url('/dongtai_vision/image/bd-bor.png');
}

body #screen .content {
  width: 100%;
  height: 100%;
}

body #screen .content .header {
  height: 126px;
  width: 100%;
}

body #screen .content .header .header-left {
  width: 366px;
  height: 88px;
  font-size: 36px;
  text-align: center;
  color: #fff;
  font-family: 'FZZZHONGHJW';
  margin-left: 42px;
  text-shadow: 1px 8px 14px rgba(41, 20, 20, 0.45);
}

body #screen .content .header .header-nav {
  width: -webkit-calc(100% - 785px);
  width: calc(100% - 785px);
  height: 126px;
  position: relative;
  cursor: pointer !important;
  /*中间的icon*/
  /*中间的icon*/
  /*中间的横线*/
  /*左右的箭头*/
}

body #screen .content .header .header-nav .nav-icon {
  width: 130px;
  height: 125px;
  font-family: 'FZZZHONGHJW';
  font-size: 18px;
  color: #93c9ff;
  padding-top: 24px;
  padding-bottom: 8px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-shadow: 3px 9px 14px rgba(41, 20, 20, 0.23);
  cursor: pointer !important;
  position: relative;
}

body #screen .content .header .header-nav .nav-icon img {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

body #screen .content .header .header-nav .nav-icon:hover {
  color: #fff;
  padding-top: 18px;
}

body #screen .content .header .header-nav .active {
  color: #fff !important;
  width: 130px;
  height: 125px;
  font-family: 'FZZZHONGHJW';
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 8px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-shadow: 3px 9px 14px rgba(41, 20, 20, 0.23);
  cursor: pointer !important;
}

body #screen .content .header .header-nav .active .huangdong {
  width: 100px;
  height: 90px;
  position: absolute;
  top: 36px;
}

body #screen .content .header .header-nav .active:hover {
  padding-top: 18px;
}

body #screen .content .header .header-nav .nav-border-mid {
  position: absolute;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  top: 82px;
  /*中间的横线*/
}

body #screen .content .header .header-nav .nav-border-mid .hover {
  position: absolute;
  width: 113px;
  height: 17px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

body #screen .content .header .header-nav .nav-border-mid img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

body #screen .content .header .header-nav .nav-border-mid:hover .hover {
  height: 17px;
}

body #screen .content .header .header-nav .nav-left-zuo {
  width: 42px;
  height: 20px;
  position: absolute;
  left: 40px;
  top: 72px;
  overflow: hidden;
}

body #screen .content .header .header-nav .nav-left-zuo .zuo {
  width: 42px;
  height: 20px;
  position: absolute;
  background: url('/dongtai_vision/image/jiantou1.png');
  -webkit-animation: run 0.8s steps(1, end) infinite;
  animation: run 0.8s steps(1, end) infinite;
  overflow: hidden;
}

body #screen .content .header .header-nav .nav-left-you {
  width: 42px;
  height: 20px;
  position: absolute;
  /* left: 40px; */
  top: 72px;
  right: 47px;
  /* right: 0px; */
  overflow: hidden;
  background: url('/dongtai_vision/image/youyou1.png');
  -webkit-animation: run 0.8s steps(1, end) infinite;
  animation: run 0.8s steps(1, end) infinite;
  overflow: hidden;
}
